@tailwind base;
@tailwind components;
@tailwind utilities;

.chats p {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid bluergb(0, 0, 79);
  background-color: rgb(23 37 84);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-style: italic;
}
